# Dependencies and Astro output
node_modules/
.astro/
dist/

# Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Operating system files
.DS_Store
**/.DS_Store
